{  
   "block_v1":{  
      "payload":{  
         "height":"1",
         "prevBlockHash":"0000000000000000000000000000000000000000000000000000000000000000",
         "transactions":[  
            {  
               "payload":{  
                  "reducedPayload":{  
                     "commands":[  
                        {  
                           "createRole":{  
                              "permissions":[  
                                 "can_add_peer",
                                 "can_add_signatory",
                                 "can_create_account",
                                 "can_create_domain",
                                 "can_get_all_acc_ast",
                                 "can_get_all_acc_ast_txs",
                                 "can_get_all_acc_detail",
                                 "can_get_all_acc_txs",
                                 "can_get_all_accounts",
                                 "can_get_all_signatories",
                                 "can_get_all_txs",
                                 "can_get_blocks",
                                 "can_get_roles",
                                 "can_read_assets",
                                 "can_remove_signatory",
                                 "can_set_quorum"
                              ],
                              "roleName":"admin"
                           }
                        },
                        {  
                           "createRole":{  
                              "permissions":[  
                                 "can_add_signatory",
                                 "can_get_my_acc_ast",
                                 "can_get_my_acc_ast_txs",
                                 "can_get_my_acc_detail",
                                 "can_get_my_acc_txs",
                                 "can_get_my_account",
                                 "can_get_my_signatories",
                                 "can_get_my_txs",
                                 "can_grant_can_add_my_signatory",
                                 "can_grant_can_remove_my_signatory",
                                 "can_grant_can_set_my_account_detail",
                                 "can_grant_can_set_my_quorum",
                                 "can_grant_can_transfer_my_assets",
                                 "can_receive",
                                 "can_remove_signatory",
                                 "can_set_quorum",
                                 "can_transfer"
                              ],
                              "roleName":"user"
                           }
                        },
                        {  
                           "createRole":{  
                              "permissions":[  
                                 "can_add_asset_qty",
                                 "can_create_asset",
                                 "can_receive",
                                 "can_transfer"
                              ],
                              "roleName":"money_creator"
                           }
                        },
                        {  
                           "createDomain":{  
                              "defaultRole":"user",
                              "domainId":"test"
                           }
                        },
                        {  
                           "createAsset":{  
                              "assetName":"coin",
                              "domainId":"test",
                              "precision":2
                           }
                        },
                        {  
                           "createAccount":{  
                              "accountName":"admin",
                              "domainId":"test",
                              "publicKey":"f98baa265831780855e80d0dbe271eb916a89fc7c6078ba55f3f111aec3baf40"
                           }
                        },
                        {  
                           "createAccount":{  
                              "accountName":"test",
                              "domainId":"test",
                              "publicKey":"705d21dc33c06f821ae32a2c9c188481471c567028ec999f8027a2b923c6b6aa"
                           }
                        },
                        {  
                           "appendRole":{  
                              "accountId":"admin@test",
                              "roleName":"admin"
                           }
                        },
                        {  
                           "appendRole":{  
                              "accountId":"admin@test",
                              "roleName":"money_creator"
                           }
                        },
{% for peer in peer_list.stdout_lines %}
{% set peer_data = peer.split(';') %}
                        {
                            "addPeer":{
                              "peer":{
                                  "address":"{{ peer_data[0] }}:{{ peer_data[1] }}",
                                  "peerKey":"{{ peer_data[3] }}"
                              }
                            }
                        }
  {% if not loop.last %},
  {% endif %}
{% endfor %}
                     ],
                     "quorum":1
                  }
               }
            }
         ],
         "txNumber":1
      }
   }
}