---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ iroha_pod_basename }}
  labels:
    app: iroha
    max-supported-replicas: "{{ iroha_replicas }}"
  namespace: {{ iroha_namespace }}
spec:
  serviceName: {{ iroha_governing_service_domain_name }}
  replicas: {{ iroha_replicas }}
  podManagementPolicy: "Parallel"
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: iroha
  template:
    metadata:
      namespace: {{ iroha_namespace }}
      labels:
        app: iroha
    spec:
      terminationGracePeriodSeconds: 7
      initContainers:
      - name: copy-data
        image: busybox
        command: ['sh', '-c', 'cp -v /opt/secrets/$PODNAME/node* /opt/iroha_data && cp -v /opt/iroha_config/* /opt/iroha_data']
        env:
          - name: PODNAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        volumeMounts:
{% for key_pair in peer_keys.stdout_lines %}
        - name: {{ iroha_pod_basename }}-secret-{{ loop.index - 1 }}
          mountPath: /opt/secrets/{{ iroha_pod_basename }}-{{ loop.index - 1 }}
{% endfor %}
        - name: {{ iroha_pod_basename }}-config
          mountPath: /opt/iroha_config
        - name: {{ iroha_pod_basename }}-data
          mountPath: /opt/iroha_data
      containers:
      - name: postgres
        image: {{ postgres_image_tag }}
        imagePullPolicy: Always
        command: ["docker-entrypoint.sh"]
        args: ["postgres", "-c", "max_prepared_transactions=100"]
        ports:
        - containerPort: 5432
          name: pg-port
        env:
          - name: POSTGRES_PASSWORD
            value: mysecretpassword
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        livenessProbe:
          exec:
            command: ["pg_isready", "-h", "localhost", "-U", "postgres"]
          initialDelaySeconds: 30
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command: ["pg_isready", "-h", "localhost", "-U", "postgres"]
          initialDelaySeconds: 5
          timeoutSeconds: 1
        volumeMounts:
        - name: pg-data
          mountPath: /var/lib/postgresql/data
      - name: iroha
        image: {{ iroha_image_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ iroha_internal_port }}
          name: {{ iroha_internal_port_name }}
        - containerPort: {{ iroha_torii_port }}
          name: {{ iroha_torii_port_name }}
        env:
          - name: IROHA_POSTGRES_HOST
            value: localhost
          - name: KEY
            value: node
        volumeMounts:
        - name: {{ iroha_pod_basename }}-data
          mountPath: /opt/iroha_data
        - name: block-store
          mountPath: /tmp/block_store
      volumes:
{% for key_pair in peer_keys.stdout_lines %}
        - name: {{ iroha_pod_basename }}-secret-{{ loop.index - 1 }}
          secret:
            secretName: {{ iroha_pod_basename }}-key-{{ loop.index - 1 }}
{% endfor %}
        - name: {{ iroha_pod_basename }}-config
          configMap:
            name: {{ iroha_configmap_name }}
        - name: {{ iroha_pod_basename }}-data
          emptyDir: {}
        - name: block-store
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: pg-data
        namespace: {{ iroha_namespace }}
        labels:
          app: iroha
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ postgres_volume_size }}
    - metadata:
        name: block-store
        namespace: {{ iroha_namespace }}
        labels:
          app: iroha
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ blockstore_volume_size }}